body {
  font-family: 'Arial', sans-serif;
  text-align: none;
  background-color: #000000;
}

#videoContainer {
  max-width: 1124px;
  margin: 10px auto;
  background-color: #ffffff00;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#myVideo {
  width: 75%;
  border-radius: 8px 8px 0 0;
  margin-top: 75px;
  margin-left: 185px;
}

#videoControls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3171700;
  border-radius: 0 0 8px 8px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #6c6c6c;
  color: #000000;
  border: none;
  padding: 10px 14px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

input[type="range"] {
  width: 100%;
  margin: 0 10px;
  -webkit-appearance: none;
  height: 5px;
  background-color: #ddd;
  border-radius: 2px;
  outline: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  cursor: pointer;
}

:root {
  --rojo: #E50914;
  --fondo: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #FFF;
}